.inline-block {
    display: inline-block;
    vertical-align: top;
}
 /* Header Logo */
div.logo { 
    width: 23%;
    padding: 1%;
    text-align:center;

 /* Navigation */
}
nav.inline-block {
    width: 68%;  /* I changed it from 73% to 68%, a separate choice from the HW*/

    padding: 5%; /* I changed it from 1% to 5%, a separate choice from the HW*/
}
ul {
    width: 50%;
    margin-left: auto;
}

 /* Hero Image */
.heroimg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 300px; /*changed from 500px to 300px, which was assigned in HW */
    margin: 0 auto;
}

 /* Footer */
footer {
    background-color: #757576; /* changed color to a lighter grey */
}

footer ul {
    display: inline-block;
    vertical-align:top;
    padding:center;
}

/* extras down below, in case any were referenced */

 /* Header Styles */
 .header {
    height: 250px;
    max-height: 500px;
    background-image: url(../images/upsBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  #pageTopic {
     text-align: center;
  }
   /* Primary Color */
   .colorContainer {
       display: inline-block;
       margin: 15px;
   }
   .swatch {
      height: 200px;
      width: 170px;
      border: 1px solid black;
  }
  .hexCode {
      padding: 15px;
      text-align: center;
      border: 1px solid black;
      border-top: none;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
  }
  /* Typography CSS */
  .type_container {
      display: inline-block;
      margin: 20px;
  }
  
  /* UI Elements */
  .button {
      display: inline-block;
      padding: 15px;
      margin: 15px;
      width: 150px;
      text-align: center;
      color: white;
      outline: 1px solid red;
      grid-auto-rows: minmax(100px, auto);
  }
  .flexContainer > div {
    display: flex;
    width: 10%;
    padding: center;
    flex-direction: column;
    text-align:center;
    margin: 0 auto;
}
.workGrid > div{
    /* display: flex;
    width: 33%;
    padding: 15%;
    flex-direction: column;
    text-align:center;*/


    display: grid; 
    width: 33%;
    /*padding: 15%;*/
    padding: center;
    flex-direction: column;
    text-align:center;
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-auto-rows: 50px;
    margin: 0 auto;
    /*grid-template-columns: 200px 200px 200px;*/
    /*grid-template-areas: 'BurntLatte NonProfit NonProfit';*/

}
div {
    display: flex;
    flex-direction: column;
}

h1 {
    height: 50px;
    width: 170px;
    padding: center;
    flex-direction: column;
    text-align:center;
    margin: 0 auto;
}

img {
    /*height: 50px;
    width: 170px;*/
    padding: center;
    flex-direction: column;
    text-align:center;
    margin: 0 auto;
    margin-top: 30%;

}
